.list {
    border: 1px solid black;
    width: 100%;
    height: 200px;
    overflow: auto;
}

.paginator {
    width: 100%;
    height: 50px;
}

.paginator > button {
    width: 50px;
    margin: 5px;
}

.selected {
    background-color: rgb(69, 174, 200);
}
